.introducao-bg {
  background-image: url("/img/fotos/img-introdução.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--cor-0);
}

.introducao {
  padding-top: 120px;
}

.introducao-conteudo span {
  margin-bottom: 32px;
}

.introducao-conteudo h1 {
  margin-bottom: 20px;
}

.introducao-conteudo h2 {
  color: var(--cor-0);
  margin-bottom: 12px;
}

.introducao-conteudo h3 {
  margin-bottom: 20px;
  color: var(--cor-0);
}

.introducao-conteudo p {
  color: var(--cor-4);
  margin-bottom: 20px;
}

.introducao-conteudo a {
  margin-bottom: 160px;
}

@media (max-width: 1200px) {
  .introducao {
    padding-top: 80px;
  }
  .introducao-conteudo a {
    margin-bottom: 120px;
  }
  .introducao h1 {
    margin-bottom: 18px;
  }
  .introducao-conteudo h2 {
    margin-bottom: 10px;
  }
  .introducao-conteudo h3 {
    margin-bottom: 16px;
  }
  .font-2-p {
    margin-bottom: 16px;
  }

  @media (max-width: 900px) {
    .introducao {
      padding-top: 40px;
    }
    .introducao h1 {
      margin-bottom: 16px;
    }
    .introducao-conteudo h2 {
      margin-bottom: 10px;
    }
    .introducao-conteudo h3 {
      margin-bottom: 16px;
    }
    .font-2-p {
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background-image: url("/img/fotos/img-introdução1.jpg");
  }
  .introducao-conteudo a {
    margin-bottom: 60px;
  }
}
@media (max-width: 560px) {
  .introducao-bg {
    background: var(--cor-12);
  }
  .introducao-conteudo {
    text-align: center;
  }
}

@media (min-width: 1500px) {
  .introducao-bg {
    background-position: inherit;
  }
  .introducao-conteudo a {
    margin-bottom: 200px;
  }
}
