.titulo {
  padding-top: 100px;
}

.servicos-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0);
}

.servicos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.servicos-imagem img {
  border-radius: 5px;
}

.servicos-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.servicos h2,
.servicos p {
  grid-column: 1/-1;
}

.servicos h2 {
  margin-bottom: 20px;
}

.servicos a {
  place-self: end;
  margin-top: 80px;
}

@media (max-width: 800px) {
  .servicos-bg {
    background: var(--cor-11);
  }
  .servicos {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .servicos a {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .servicos a {
    place-self: start;
    margin-top: 32px;
  }
  .servicos h2 {
    font-size: 2rem;
  }
  .servicos p {
    font-size: 1rem;
  }
}
